<div class="__flex top__links __bottom_line">
  <div>
    <a href="/" aria-current="page" class="logo">
      <img
        src="/images/code_logo.png"
        loading="lazy"
        width="130"
        sizes="(max-width: 479px) 31vw, (max-width: 767px) 17vw, (max-width: 991px) 15vw, 130px"
        alt="code"
      />
    </a>
  </div>
  <div class="social__logo__wrapper">
    <ul class="__flex">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="social__icon"
        >
          <img
            src="/images/instagram.svg"
            loading="lazy"
            width="20"
            alt=""
            class="social__image"
          />
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/" target="_blank" class="social__icon">
          <img
            src="/images/twitter.svg"
            loading="lazy"
            width="20"
            alt=""
            class="social__image"
          />
        </a>
      </li>
      <li>
        <a href="https://www.medium.com/" target="_blank" class="social__icon">
          <img
            src="/images/medium.svg"
            loading="lazy"
            width="20"
            alt=""
            class="social__image"
          />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank" class="social__icon">
          <img
            src="/images/youtube.svg"
            loading="lazy"
            width="20"
            alt=""
            class="social__image"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="social__icon"
        >
          <img
            src="/images/facebook.png"
            loading="lazy"
            width="20"
            alt=""
            class="social__image"
          />
        </a>
      </li>
    </ul>
  </div>
</div>