@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Root Vars */
:root {
  --primary-font: Inter, sans-serif;
  --secondary-font: Redaction, sans-serif;
  --business-color: hsla(226, 48.6%, 35.1%, 1);
  --politics-color: hsla(4, 90.37%, 63.33%, 1);
  --gray-color: #6b6b6b;
  --lighter-gray-color: #eee;
  --paragraph-color: #4d4d4d;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

article {
  font-family: var(--secondary-font);
}

/* Reset Ends */

/* Contextual Classes */

.__container {
  max-width: 1200px;
  margin: 0 auto;
}

.__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__bottom_line {
  border-bottom: 1px solid var(--lighter-gray-color);
}

.__btn {
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-family: var(--primary-font);
}

/* Color */

.business__color {
  color: hsla(226, 48.6%, 35.1%, 1);
}

.politics__color {
  color: hsla(4, 90.37%, 63.33%, 1);
}

/* Contextual Ends */

body {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

/* Home Starts */

header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top__links {
  padding: 7px 0 15px 0;
}

.top__links ul {
  margin: auto 0;
}

.top__links ul li {
  display: inline-block;
  margin-left: 20px;
  width: 32px;
}

.social__icon {
  width: 100%;
}

.social__icon img,
.social__icon svg {
  width: 17px;
  height: 17px;
}

.bottom__links {
  padding: 20px 0;
}

nav ul li {
  display: inline-block;
  font-size: 13px;
  padding: 0 7px;
}

.mobile__nav {
  display: none;
}

.nav__links {
  color: #000;
  font-weight: 600;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.nav__links:hover {
  opacity: 0.6;
}

.active {
  opacity: 0.6;
}

.nav__search input {
  border: none;
  width: 120px;
  outline: none;
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
  margin-right: 5px;
}

.nav__search input::placeholder {
  font-weight: 600;
  font-family: Inter, sans-serif;
  color: #000;
}

.nav__search button {
  background-color: transparent;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.nav__search svg {
  width: 100%;
  height: 100%;
  color: #000;
}

/* Home Ends */

/* Trending Posts */
.trending__post .__container {
  position: relative;
  border: 1px solid var(--lighter-gray-color);
  overflow: hidden;
}

.trending__post__title {
  color: #fff;
  width: 150px;
  z-index: 100;
  position: relative;
}

.trending__post__title h2 {
  font-size: 17px;
  background-color: #333;
  text-align: center;
  padding: 7px 0;
}

.trending__posts {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 50;
}

.trending__posts ul {
  white-space: nowrap;
}

.trending__posts li {
  display: inline-block;
  margin-right: 15px;
  padding-top: 4px;
}

.trending__posts li a::before {
  content: url("/images/arrow-circle-right.svg");

  margin-right: 4px;
  width: 15px;
}

.trending__posts li a {
  font-weight: 600;
  color: #000;
}

/* First Part */
.first__part .__flex {
  align-items: flex-start;
  padding: 10px 0;
}

.latest__news,
.popular__news,
.business__category {
  flex-direction: column;
}

/* Latest News */

.latest__news {
  flex: 1;
  max-width: 240px;
}

.section__heading {
  margin-bottom: 30px;
}

.section__heading h3 {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-transform: capitalize;
}

.small__post {
  margin-bottom: 25px;
}

.small__post a {
  width: 100%;
  height: 160px;
}

.small__image__container {
  width: 100%;
  height: 160px;
}

.small__image {
  width: 100%;
  height: 160px;
}

figure img {
  width: 100%;
  height: 100%;
}

.category__date {
  padding: 15px 0;
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.category {
  margin-right: 10px;
  text-transform: capitalize;
}

.category a {
  color: var(--politics-color);
}

.date {
  color: var(--gray-color);
}

.small__post h2,
.text__post h2 {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}

article h2 a {
  color: #000;
}

.__user {
  margin-top: 10px;
}

.__user a {
  color: var(--gray-color);
  text-transform: capitalize;
}

.__user img {
  width: 10px;
}

.__user span {
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 600;
  margin-left: 5px;
}

/* Popular News */

.popular__news {
  flex: 2;
  margin: 0 40px;
}

.large__image {
  width: 100%;
  height: 536px;
}

.large__post h2 {
  font-size: 27px;
  line-height: 1.2;
  font-weight: 700;
}

.large__post p {
  color: #4d4d4d;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  margin: 15px 0;
}

/* Business Category */

.business__category {
  flex: 1;
}

.text__post {
  margin-bottom: 20px;
}

/* Main */

main {
  margin-bottom: 20px;
}

.medium__post {
  height: 350px;
  align-items: flex-start;
  margin-bottom: 25px;
}

.medium__image__container {
  height: 100%;
  max-height: 350px;
  width: 50%;
}

.medium__image {
  height: 100%;
}

.medium__text__container {
  width: 50%;
  padding: 15px;
  /* border: 1px solid var(--gray-color); */
}

.medium__text__container p {
  font-size: 15px;
}

/* Footer */
footer .__flex {
  align-items: flex-start;
  flex-wrap: wrap;
}

footer nav ul li {
  display: block;
  padding: 0;
  margin: 10px 0;
}

.footer__logo {
  /* max-width: 480px; */
  min-width: 200px;
  flex: 1;
}

.footer__head {
  margin-bottom: 15px;
}

.footer__head h4 {
  font-size: 16px;
  font-family: var(--secondary-font);
}

.footer__categories {
  /* max-width: 480px; */
  min-width: 200px;
  flex: 1;
}

.footer__links {
  /* max-width: 480px; */
  min-width: 200px;
  flex: 1;
}

.footer__form {
  width: 290px;
  flex: 2;
}

.input__button {
  position: relative;
}

.footer__form input[type="email"] {
  min-height: 59px;
  padding-left: 17px;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #2f3330;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.footer__form button {
  position: absolute;
  left: auto;
  top: 10px;
  right: 12px;
  bottom: auto;
  padding: 10px 18px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/*  
    ----------------
      HOME END
    ----------------
*/

/*  
    ----------------
      CONTACT START
    ----------------
*/

.__contact .__flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.__lead {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 17px;
}

.__contact a {
  color: #000;
}

.contact__form {
  margin-bottom: 15px;
}

.contact__form form {
  width: 350px;
  max-width: 400px;
  margin: 0 auto;
}

.contact__form h2 {
  font-size: 15px;
}

.contact__form__group {
  margin-bottom: 15px;
}

.contact__form__group input,
.contact__form__group select {
  height: 55px;
  margin-bottom: 0px;
  padding-left: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.custom__file {
  cursor: pointer;
}

.custom__file::-webkit-file-upload-button {
  visibility: hidden;
  padding: 15px 0;
  cursor: pointer;
}

.custom__file::before {
  content: 'Select an image';
  
  
}

.contact__form__group textarea {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.contact__form button {
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #000;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
}

/*  
    ----------------
      CONTACT END
    ----------------
*/

/*  
    ----------------
      POST START
    ----------------
*/
.__post .__container {
  max-width: 780px;
}

.__post h2 {
  text-align: center;
  font-family: var(--secondary-font);
  padding: 10px 0;
}

.post__image {
  width: 100%;
}

.post__image img {
  width: 100%;
}

.post__body {
  font-family: var(--secondary-font);
  padding: 20px 40px;
}

.post__body p {
  margin-bottom: 10px;
}

.inline__posts .__flex {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inline__posts .small__image__container,
.inline__posts .small__post {
  width: 215px;
}

/*  
    ----------------
      POST END
    ----------------
*/

/*  
    ----------------
      USERS START
    ----------------
*/

.user__actions li {
  display: inline-block;
  font-size: 13px;
  padding: 0 7px;
}

.__greeting {
  margin: 0 0 20px 0;
}

.__writers {
  min-height: 60vh;
}

.__writers table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

.__writers table td,
.__writers table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.__writers table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.__writers table tr:hover {
  background-color: #ddd;
}

.__writers table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6b6b6b;
  color: white;
}

.action {
  font-weight: 700;
}

.delete {
  color: red;
}

.edit {
  color: blue;
}

.visit {
  color: #000;
}

/*  
    ----------------
     USERS END
    ----------------
*/
