body {
  accent-color: #000;
}

@media (max-width: 900px) {
  .__container {
    margin: 0 20px;
  }
  .first__part .__flex {
    flex-wrap: wrap;
  }

  .latest__news {
    flex: 2;
  }

  .business__category {
    min-width: 100%;
    flex: 2;
  }

  /*  
    ----------------
      POST START
    ----------------
*/

  /*  
    ----------------
      POST END
    ----------------
*/
}

@media (max-width: 600px) {
  .bottom__links {
    position: relative;
  }

  .bottom__links nav {
    display: none;
  }

  .__closed,
  .__open {
    width: 20px;
    height: 20px;
  }

  .__closed img,
  .__open img {
    height: 100%;
  }

  .__open {
    display: none;
  }

  .mobile__nav {
    display: block;
    position: absolute;
    top: 50px;
    padding: 10px 20px 10px 10px;
    background-color: #fff;
    z-index: 150;
    transition: left ease-in-out;
    transition-delay: 5s;
    /* left: -100px; */
  }

  ._closed {
    left: -150px;
    transition: left ease-in-out;
    transition-delay: 5s;
  }

  .mobile__nav li {
    margin: 15px 0;
  }

  .first__part .__flex {
    flex-direction: column;
  }

  .latest__news {
    min-width: 100%;
    align-items: center;
  }

  .section__heading {
    margin: 0 auto 30px auto;
  }

  .section__heading h3 {
    text-align: center;
  }

  .small__image__container,
  .small__image__container figure {
    height: 300px;
  }

  .medium__post {
    flex-direction: column;
    height: initial;
  }

  .medium__image__container,
  .medium_image {
    width: 100%;
    height: 300px;
  }

  .medium__text__container {
    width: 100%;
  }

  /*  
    ----------------
      POST START
    ----------------
*/

  /*  
    ----------------
      POST END
    ----------------
*/
}

@media (max-width: 450px) {
  .popular__news {
    margin: 0;
  }

  .top__links ul li {
    margin-left: 10px;
    width: 17px;
  }

  footer .__flex {
    flex-direction: column;
  }

  .footer__logo,
  .footer__links,
  .footer__categories,
  .footer__form {
    width: 100%;
    margin-top: 15px;
  }

    /*  
    ----------------
      POST START
    ----------------
    */

    .inline__posts .__flex {
        flex-direction: column;
        justify-content: center;
      }
      
      .inline__posts .small__image__container,
      .inline__posts .small__post {
        width: 100%;
      }

    /*  
    ----------------
      POST END
    ----------------
    */
}

@media(max-width: 300px) {
    .post__header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
