<header class="">
  <div class="__container">
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li>
            <a href="/users/user/dashboard" class="nav__links">Dashboard</a>
          </li>
          <li>
            <a href="/users/user/create" class="nav__links active">Create Post</a>
          </li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li>
            <a href="/users/user" class="nav__links active">Dashboard</a>
          </li>
          <li><a href="/users/user/create" class="nav__links">Create Post</a></li>
        </ul>
      </div>
      <div class="user__actions">
        <div class="__flex">
          <ul>
            <li><a
                href="/users/user/setting"
                class="nav__links active"
              >User</a></li>
            <li><a href="/users/logout" class="nav__links">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="__post __contact">
  <div class="__container __flex">
    <h2 class="post__title">Post An Article</h2>
    <div class="contact__form">
      <form action="">
        <div class="contact__form__group">
          <input type="text" placeholder="Enter Title" name="title" />
        </div>
        <div class="contact__form__group">
          <select name="category" id="">
            <option value="health">Health</option>
            <option value="tech">Tech</option>
          </select>
        </div>
        <div class="contact__form__group">
          <input
            class="custom__file"
            type="file"
            accept="images/png, image/jpg, image/jpeg"
            name="image"
          />
        </div>
        <div class="contact__form__group">
          <textarea
            id="post-body"
            name="message"
            id=""
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</main>

<footer>
  <div class="__container __flex">
    <div class="footer__logo">
      <div>
        <a href="index.html" aria-current="page" class="logo">
          <img
            src="/images/code_logo.png"
            loading="lazy"
            width="130"
            sizes="(max-width: 479px) 31vw, (max-width: 767px) 17vw, (max-width: 991px) 15vw, 130px"
            alt="code"
          />
        </a>
      </div>
    </div>
    <div class="footer__categories">
      <div class="footer__head">
        <h4>Categories</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/world" class="nav__links">World</a></li>
            <li><a href="/business" class="nav__links">Business</a></li>
            <li><a href="/health" class="nav__links">Health</a></li>
            <li><a href="/science" class="nav__links">Science</a></li>
            <li><a href="/food" class="nav__links">Food</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__head">
        <h4>Useful Links</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/" class="nav__links">Home</a></li>
            <li><a href="/about" class="nav__links">About</a></li>
            <li><a href="/contact" class="nav__links">Contact</a></li>
            <li><a href="/users/login" class="nav__links">Login</a></li>
            <li>
              <a href="/terms-and-conditions" class="nav__links">Terms</a>
            </li>
            <li><a href="/privacy" class="nav__links">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__form">
      <div class="footer__head">
        <h4>Subscribe</h4>
      </div>
      <form action="">
        <div class="input__button">
          <input type="email" name="email" placeholder="Enter Email" />
          <button>Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</footer>

<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script>
  document.title = 'CodeBlog | Create A Post'; CKEDITOR.replace('post-body')
</script>