<header class="">
  <div class="__container">
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li>
            <a
              href="/users/user/dashboard"
              class="nav__links active"
            >Dashboard</a>
          </li>
          <li>
            <a href="/users/user/create" class="nav__links">Create Post</a>
          </li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li>
            <a href="/users/user" class="nav__links active">Dashboard</a>
          </li>
          <li><a href="/users/user/create" class="nav__links">Create Post</a></li>
        </ul>
      </div>
      <div class="user__actions">
        <div class="__flex">
          <ul>
            <li><a href="/users/user/setting" class="nav__links active">User</a></li>
            <li><a href="/users/logout" class="nav__links">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{{>_toast-header}}

<main class="__post __contact">
  <div class="__container __flex">
    <h2 class="post__title">Update An Article</h2>
    <div class="contact__form">
      <form
        action="/users/update-post"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="contact__form__group">
          <input
            type="text"
            placeholder="Enter Title"
            name="title"
            value="{{post.title}}"
          />
        </div>
        <div class="contact__form__group" style="display: none;">
          <input
            type="text"
            placeholder="Enter Title"
            name="id"
            value="{{post._id}}"
          />
        </div>
        <div class="contact__form__group">
          <input
            type="text"
            placeholder="Enter Category"
            name="category"
            value="{{post.category}}"
          />
        </div>
        <div class="contact__form__group">
          <input
            class="custom__file"
            type="file"
            accept="image/png, image/jpg, image/jpeg"
            name="image"
          />
        </div>
        <div class="contact__form__group">
          <textarea
            id="post-body"
            name="post"
            cols="30"
            rows="10"
          >{{post.post}}</textarea>
        </div>
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
</main>

{{>_footer}}
{{>_toast-footer}}

<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script>
  document.title = 'CodeBlog | Update A Post'; CKEDITOR.replace('post-body')
</script>