<header class="">
  <div class="__container">
    <div class="__flex top__links __bottom_line">
      <div>
        <a href="index.html" aria-current="page" class="logo">
          <img
            src="/images/code_logo.png"
            loading="lazy"
            width="130"
            sizes="(max-width: 479px) 31vw, (max-width: 767px) 17vw, (max-width: 991px) 15vw, 130px"
            alt="code"
          />
        </a>
      </div>
      <div class="social__logo__wrapper">
        <ul class="__flex">
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="social__icon"
            >
              <img
                src="/images/instagram.svg"
                loading="lazy"
                width="20"
                alt=""
                class="social__image"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.twitter.com/"
              target="_blank"
              class="social__icon"
            >
              <img
                src="/images/twitter.svg"
                loading="lazy"
                width="20"
                alt=""
                class="social__image"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.medium.com/"
              target="_blank"
              class="social__icon"
            >
              <img
                src="/images/medium.svg"
                loading="lazy"
                width="20"
                alt=""
                class="social__image"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="social__icon"
            >
              <img
                src="/images/youtube.svg"
                loading="lazy"
                width="20"
                alt=""
                class="social__image"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="social__icon"
            >
              <img
                src="/images/facebook.png"
                loading="lazy"
                width="20"
                alt=""
                class="social__image"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li><a href="/" class="nav__links">Home</a></li>
          <li><a href="/about" class="nav__links active">About</a></li>
          <li><a href="/world" class="nav__links">World</a></li>
          <li><a href="/business" class="nav__links">Business</a></li>
          <li><a href="/health" class="nav__links">Health</a></li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li><a href="/" class="nav__links active">Home</a></li>
          <li><a href="/about" class="nav__links">About</a></li>
          <li><a href="/world" class="nav__links">World</a></li>
          <li><a href="/business" class="nav__links">Business</a></li>
          <li><a href="/health" class="nav__links">Health</a></li>
        </ul>
      </div>
      <form action="" class="nav__search">
        <input type="text" placeholder="Search..." />
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
            <path
              fill="currentColor"
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
            ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>

<main class="__post __contact">
  <div class="__container __flex">
    <h2 class="post__title">Login to your account</h2>
    <div class="contact__form">
      <form action="/users/login" method="POST">
        <div class="contact__form__group">
          <input
            type="text"
            placeholder="Enter your username"
            name="username"
          />
        </div>
        <div class="contact__form__group">
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
          />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</main>

<footer>
  <div class="__container __flex">
    <div class="footer__logo">
      <div>
        <a href="index.html" aria-current="page" class="logo">
          <img
            src="/images/code_logo.png"
            loading="lazy"
            width="130"
            sizes="(max-width: 479px) 31vw, (max-width: 767px) 17vw, (max-width: 991px) 15vw, 130px"
            alt="code"
          />
        </a>
      </div>
    </div>
    <div class="footer__categories">
      <div class="footer__head">
        <h4>Categories</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/world" class="nav__links">World</a></li>
            <li><a href="/business" class="nav__links">Business</a></li>
            <li><a href="/health" class="nav__links">Health</a></li>
            <li><a href="/science" class="nav__links">Science</a></li>
            <li><a href="/food" class="nav__links">Food</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__head">
        <h4>Useful Links</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/" class="nav__links">Home</a></li>
            <li><a href="/about" class="nav__links">About</a></li>
            <li><a href="/contact" class="nav__links">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__form">
      <div class="footer__head">
        <h4>Subscribe</h4>
      </div>
      <form action="">
        <div class="input__button">
          <input type="email" name="email" placeholder="Enter Email" />
          <button>Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</footer>